.BG {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/picture/bg.png');
    background-size: cover;
}

.navbar {
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 100px;
}

.navbar img{
    width: 350px;
    height: 100px;
}

.search-nav .search-bar{
    font-size: 14px;
    width: 450px;
}

.main-content{
    display: flex;
    flex-direction: row;
    width:1500px;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 260px;
}

.intro{
    margin-top: -55px;
}

.intro h2{
    margin-top: -30px;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 45px;
    font-weight: lighter;
}

.main-content img{
    float: right;
    width: 400px;
    height: 520px;
    border-radius: 20px;
}

.desc {
    width: 1500px;
    position: absolute;
    top: 800px;
    color: white;
}

.desc div {
    margin-top: -20px;
}

.desc p {
    font-weight: lighter;
    font-size: 30px;
    text-align: justify;
    margin-top: -20px;
    margin-bottom: 75px;
}