.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/picture/bg_char.png') no-repeat center center fixed;
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 500px; 
  position: absolute;
  top: 200px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-bar {
  width: 500px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
}

#main-search {
  margin-bottom: 30px;
}

.search-button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #0b0b0b;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff; 
}